<div class="LocationForm-content js-content">
  <ul class="LocationForm-fields">
    <li class="LocationForm-field">
      <label class="LocationForm-label">Address</label>
      <span class="js-address"><%- address %></span>
    </li>

    <li class="LocationForm-field">
      <label class="LocationForm-label">Name</label>
      <div class="InputField js-field">
        <input type="text" placeholder="Name of this location" class="Input js-name" value="<%- name %>" />
      </div>
    </li>

    <li class="LocationForm-field">
      <label class="LocationForm-label">What does it offer?</label>
      <ul class="OfferingList">
        <% offerings.each(function(offering) { %>
        <li class="OfferingList-item">
          <label for="offering_<%-offering.get('cartodb_id') %>" class="InputCheck-label">
            <input type='checkbox' value="<%-offering.get('cartodb_id') %>" id="offering_<%-offering.get('cartodb_id') %>" class="InputCheck js-checkbox" /> <%- offering.get('name') %>
          </label>
        </li>
        <% }); %>
      </ul>
    </li>

    <li class="LocationForm-field">
      <label class="LocationForm-label">Add something to the conversation!</label>
      <div class="InputField js-field">
        <textarea placeholder="Feel free to add tips, warnings, comments or review about this place" class="Input InputArea js-comment"></textarea>
      </div>
    </li>

    <li class="LocationForm-field">
      <label class="LocationForm-label">Your name or initials (optional)</label>
      <div class="InputField js-field">
        <input type="text" class="Input js-username" value="" />
      </div>
    </li>

  </ul>

  <footer class="Footer">
    <button class="Button js-ok is-disabled"><%- title %></button>
  </footer>

  <button class="Button Button--close js-cancel">✕</button>

</div>
